*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
--index:calc(1vw + 1vh);
}
@font-face {
    font-family: kamerik;
    src: url(../fonts/kamerik205-heavy.woff2);
    font-weight: 900;
}
@font-face {
    font-family: merri;
    src: url(../fonts/merriweather-regular-italic.woff2);
}
body{
    background-color: #201b1b;
    color: white;
    font-family: kamerik;
}
.layer{
    perspective: 1000px;
    overflow: hidden;
}
.layer_container{
    height: 100vh;
    min-height: 500px;
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
    will-change: transform;
    transition: transform 0.5s ease-out;
}
.layer_item {
    position: absolute;
    background-size: cover;
    background-position: center;
	inset: -10vw;
	display: flex;
	align-items: center;
	justify-content: center; 
}
.layer-1{
    transform: translateZ(-155px) scale(1.11);
}
.layer-01 {
    transform: translateZ(80px) scale(0.88);
}
.layer-2{
    transform: translateZ(180px) scale(0.100);
}
.layer-4{
    margin-bottom: calc(var(--index) * 2);
}
.hero-content{
    font-size: calc(var(--index) * 2.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: calc(var(--index)* -0.15);
    margin-top: calc(var(--index) * 5.5);
}
.hero-content span{
    display: block;
}
.hero-content_p{
    text-transform: none;
    font-family: merri;
    letter-spacing: normal;
    font-size: calc(var(--index) * .8);
}
.button-start{
    font-family:Arial;
    text-transform: uppercase;
    font-size: calc(var(--index) * 1.5);
    padding: calc(var(--index) * .25) calc(var(--index) * 1);
    background-color: transparent;
    color: white;
    border-radius: 8em;
    border:rgb(255 255 255 / .4) 3px solid;
    outline: none;
    
}
.layer-1, .layer-2, .layer-3, .layer-4{
    pointer-events: none;
}
a{
    text-decoration: none; 
}
a.start:hover{
    background-color: #ffffff81;
}
a.start:active {
  background:  #ffffff67;
}
.menu-flex{
    box-sizing: inherit;
    display: flex;
    place-content: center;
}
a.menu{
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    min-width: 40px;
    padding: 7px 21px;
    font-size: 0.9375rem;
    border: 1px solid rgba(255, 255, 255, 0.23);
    padding: 5px 15px;
    color: #fff;
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    color: inherit;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
svg{
    fill: white;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
    display: inline-flex;
    
}
.border{
    border: 1px solid rgb(248, 5, 5);
    padding: 5px 15px;
}
a.menu:hover{
    background-color: #ffffff9e;
}
a.error:hover{
    background-color: black;
}
